.seccion-titulos {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 80px;  
}
  
.titulo-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #273469FF;
}

.seccion-iconos {
    width: 40px;
    height: 40px;
    margin-right: 15px;
}

.contenedor-perfil {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    align-items: center;
    width: 60%;
    justify-content: center;
    margin: 50px auto;
    justify-items: center;
    opacity: 1;
    margin-bottom: 100px;
}

.perfil {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

.perfil input {
    width: 350px; 
    height: 44px; 
    padding-left: 16px; 
    padding-right: 16px; 
    font-size: 16px; 
    background: #BBBFD8; 
    border-radius: 4px; 
    border-width: 0px; 
    outline: none; 
    font-family: Sarabun; 
}

.perfil label {
    font-size: 20px; 
    line-height: 26px;
    margin-bottom: 10px;
}

.experiencia {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.experiencia label {
    font-size: 20px; 
    line-height: 26px;
    margin-bottom: 10px;
}

.experiencia textarea {
    width: 800px; 
    height: 150px; 
    padding: 16px; 
    font-size: 16px; 
    background: #BBBFD8; 
    border-radius: 4px; 
    border-width: 0px; 
    outline: none; 
    font-family: Sarabun; 
}

.contenedor-foto-perfil {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    align-items: start;
    width: 60%;
    justify-content: center;
    margin: 50px auto;
    justify-items: center;
    opacity: 1;
    margin-bottom: 20px;
}

.foto-perfil {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

.perfil-req {
    margin-top: 10px;
}

.foto-perfil label {
    font-size: 20px; 
    line-height: 26px;
    margin-bottom: 10px;
}

.foto-perfil input[type="file"] {
    width: 155px; 
    height: 44px; 
    font-size: 16px; 
    background: #BBBFD8; 
    border-radius: 4px; 
    border-width: 0px; 
    outline: none; 
}

.foto-perfil input[type="file"]::file-selector-button {
    height: 44px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    font-size: 16px; 
    line-height: 26px; 
    color: #273469FF; 
    background: #FFFFFFFF; 
    opacity: 1; 
    border-radius: 3px; 
    border-width: 1px; 
    border-color: #273469FF; 
    border-style: solid; 
}

.foto-perfil button {
    height: 44px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    font-size: 16px; 
    line-height: 26px; 
    color: #273469FF; 
    background: #FFFFFFFF; 
    opacity: 1; 
    border-radius: 3px; 
    border-width: 1px; 
    border-color: #273469FF; 
    border-style: solid; 
}

#imagePreview {
    width: 150px; 
    height: 150px; 
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    display: none;
}

#CVPreview {
    width: 100%; 
    height: 150px; 
    margin-bottom: 20px;
    margin-top: 20px;
    display: none;
}

.botones-perfil {
    display: flex;
    justify-content: center;
    gap: 35px;
    align-items: center;
    margin-bottom: 100px;
    margin-top: 40px;
}

.boton-perfil-style input[type="submit"]{
    align-items: center; 
    justify-content: center; 
    height: 44px; 
    padding: 0 16px; 
    display: flex; 
    font-family: Sarabun; 
    font-size: 20px; 
    line-height: 30px; 
    color: #FFFFFFFF; 
    background: #273469FF; 
    opacity: 1; 
    border: none; 
    border-radius: 4px; 
}

.boton-perfil-style input[type="button"]{
    align-items: center; 
    justify-content: center; 
    height: 44px; 
    padding: 0 16px; 
    display: flex; 
    font-family: Sarabun; 
    font-size: 20px; 
    line-height: 30px; 
    color: #FFFFFFFF; 
    background: #273469FF; 
    opacity: 1; 
    border: none; 
    border-radius: 4px; 
}

select {
    width: 382px; 
    height: 44px; 
    padding-left: 16px; 
    padding-right: 16px; 
    font-size: 16px; 
    background: #BBBFD8; 
    border-radius: 4px; 
    border-width: 0px; 
}

select option {
    background: #FFFFFFFF;
}

.overlay {
    display: flex;
    flex-direction: column;
    align-items: center;    
    margin: 0 auto;
    padding-top: 7px; 
    padding-bottom: 7px; 
    padding-left: 12px; 
    padding-right: 12px; 
    max-width: 1150px; 
    height: 900px; 
    background: #27346924; /* tertiary2-500 */
    border-radius: 0px; 
    margin-top: 50px;
}

h2 {
    line-height: 26px; 
    color: #273469FF; 
    margin-bottom: 5px;
    margin-top: 10px;
}

.contenedor-experiencia {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    align-items: center;
    width: 80%;
    justify-content: center;
    margin: 30px 80px;
    justify-items: center;
    opacity: 1;
    margin-bottom: 40px;
}

.btn-posicion {
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
    align-items: center;
    margin-right: 150px;
    gap: 10px;

}
.btn-posicion-actual {
    width: 150px;
    height: 30px;
    background-color: #BBBFD8;
}

.btn-agregar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.btn-agregar-style {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 44px; 
    padding: 0 16px; 
    display: flex; 
    font-family: Sarabun; 
    font-size: 16px; 
    line-height: 30px; 
    color: #FFFFFFFF; 
    background: #273469FF; 
    opacity: 1; 
    border: none; 
    border-radius: 4px; 
}


.checkbox-posicion-actual + label {
    cursor: pointer;
}

.checkbox-posicion-actual:checked + label::before {
    font-size: 18px;
    color: green;
    margin-right: 5px;
}

.contenedor-exp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.botonGuardar {
    background-color: #CCCCCCFF;
    border: none;
    border-radius: 5px;
    margin-left: 30px;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 180px;
    font-size: 16px;
}

.fotoUsuario {
    /* margin-top: 20px; */
    padding: 9px;
    width: 300px;
    height: 300px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    border-radius: 4px;
    border-width: 1px;
    border-color: #BDC1CAFF;
    border-style: dashed;
}

.cajaData {
    margin-top: 40px;
    margin-bottom: 15px;
    width: 95%;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 6px;
    overflow: auto;
}

.tabla {
    align-items: center;
    height: 100%;
    width: 100%;
    border-collapse: collapse;
}

td, th {
    font-size: 16px;
    border: 3px solid #dddddd;
    text-align: center;
    padding: 8px;
    font-size: 16px;
}

.btn-eliminar {
    width: 80px;
    height: 25px;  
    font-family: Sarabun; 
    font-size: 16px; 
    color: #FFFFFFFF; 
    background: #273469FF; 
    opacity: 1; 
    border: none; 
    border-radius: 4px; 
}