.contenedor {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #273469FF;
    padding: 50px 150px;
    /* tertiary2-500 */
    border-radius: 8px;
    /* border-xl */
    box-shadow: 0px 17px 35px #171a1f, 0px 0px 2px #171a1f;
    /* shadow-xl */
}

/*Fin contenedor---------------------------------------------*/

.texto-inicio-sesion {
    /* Body */
    font-size: 32px;
    line-height: 48px;
    color: #FAFAFFFF;
    margin: 16px 0px 13px;
    margin-bottom: 0px 0px 36px;
    /* secondary-500 */
}

/* Inicio Textbox Correo y Clave -------------------*/

.textbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4px;
    margin-bottom: 12px;
    opacity: 1;
    width: 405px;
    padding: 10px;
    height: 10px;
    border-radius: 4px;
    /* border-m */
    border-width: 1px;
    border-color: #9095A1FF;
}

.textbox input {
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
    /* Body */
    font-size: 14px;
    background: #FFFFFFFF;
    /* white */
    outline: none;
}

.textbox input::placeholder {
    font-family: 'Sarabun', sans-serif;
}



/* hover */
.textbox input:hover {
    color: #9095A1FF;
    /* neutral-500 */
    background: #FFFFFFFF;
    /* white */
    border-color: #6F7787FF;
    /* neutral-550 */
}

/* focused */
.textbox input:focus {
    color: #9095A1FF;
    /* neutral-500 */
    background: #FFFFFFFF;
    /* white */
    border-color: #9095A1FF;
    /* neutral-500 */
}

/* disabled */
.textbox input:disabled {
    color: #9095A1FF;
    /* neutral-500 */
    background: #FFFFFFFF;
    /* white */
    border-color: #9095A1FF;
    /* neutral-500 */
}

/* Fin Textbox Correo y Clave------------------------------*/

/* Inicio recuperacion clave ---------------------*/
.recuperar-clave {
    cursor: pointer;
    align-self: flex-start;
    text-decoration: underline;
}

.recuperar-clave {
    color: #FAFAFF;
}

.recuperar-clave:visited {
    color: #FAFAFF;
}

/*Fin recuperacion clave-------------------------------*/

/* Inicio boton iniciar sesion ---------------------------*/
.button-iniciar-sesion {
    cursor: pointer;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFFFF;
    background: #30343F;
    margin-top: 16px;
    opacity: 1;
    border: none;
    border-radius: 4px;
    padding: 10px 10px;
    width: 143px;
    height: 40px;
    box-shadow: 0px 0px 5px #FAFAFF, 0px 0px 1px #171a1f;


}

/*Fin boton iniciar sesion------------------------------------------*/

/*Inicio forma boton*/

.btn-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px 0px 30px;
}

/*Inicio Linea horizontal de decoracion*/
.linea-horizontal {
    border-width: 1px;
    border-color: #FAFAFF;
    border-style: solid;
    transform: rotate(0deg);
    margin-bottom: 12px;

}

/*Fin Linea horizontal de decoracion----------------------------*/

/*Inicio texto ¿no tienes cuenta?*/
.text-sin-cuenta {
    /* Body */
    font-size: 16px;
    line-height: 22px;
    color: #FAFAFF;
    margin-bottom: 10px;
    margin-top: 12px;
    /* white */
}


/*Fin de la texto ¿no tienes cuenta?----------------------------*/

.text-crear-cuenta {
    cursor: pointer;
    /* Body */
    font-size: 16px;
    line-height: 22px;
    color: #FAFAFF;
    /* white */
}

.text-crear-cuenta {
    color: #FAFAFF;
    text-decoration: underline;
    margin-bottom: 30px;
}

.text-crear-cuenta:visited {
    color: #FAFAFF;
}


.buttones-header {
    padding: 10px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Sarabun;
    /* Body */
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFFFF;
    /* white */
    background: #30343FFF;
    /* primary-500 */
    opacity: 1;
    border: none;
    border-radius: 4px;
    /* border-m */
}

/* Hover */
.buttones-header:hover {
    color: #FFFFFFFF;
    /* white */
    background: #24272FFF;
    /* primary-700 */
}

/* Pressed */
.buttones-header:hover:active {
    color: #FFFFFFFF;
    /* white */
    background: #17191FFF;
    /* primary-900 */
}

/* Disabled */
.buttones-header:disabled {
    opacity: 0.4;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

html {
    font-family: 'Sarabun', sans-serif;
    height: 100%;
}



.label-class {
    font-family: 'Sarabun', sans-serif;
    color: #FAFAFF;
    font-size: 16px;

}