.seccion-titulos {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 30px;
}

.titulo-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #273469FF;
}

.seccion-iconos {
    width: 40px;
    height: 40px;
    margin-right: 15px;
}

html {
    font-family: 'Sarabun', sans-serif;
}

.seccion-principal-acomodo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedor-general {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    text-align: center;
}

.contenedor {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    width: 1000px;
    padding: 3rem 9rem;
    background: #DEE1E6FF;
    /* neutral-300 */
    border-radius: 8px;
    /* border-xl */
    border-width: 1px;
    border-color: #F3F4F6FF;
    /* neutral-200 */
    border-style: solid;
}

.checkboxs {
    width: 100%;
    margin: 1rem;
}

.checkboxs label {
    margin: 1rem;
}

.text-titulo {
    font-family: Sarabun;
    font-size: 32px;
    line-height: 48px;
    color: #273469FF;
}

.graph {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 3rem;
}

#chart div {
    width: 300px;
    height: 300px;
    display: inline-block;
    background-size: 100% 100%;
    background-position: center;
    background: conic-gradient(rgb(214, 173, 236) 40%,
            rgb(173, 236, 204) 40% 60%,
            rgb(246, 243, 244) 60%);
    border-radius: 50%
}

.input-empleado {
    width: 25rem;
    padding: 0.5rem;
    margin-left: 10px;
    margin-bottom: 2.5rem;
}

textarea {
    width: 70%;
    height: 13rem;
    margin-left: 4rem;

    font-family: 'Sarabun', sans-serif;
    color: #808080;
    /* Color gris */
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    overflow: auto;
}


::placeholder {
    font-family: 'Sarabun', sans-serif;
}

.legend {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1rem;
}

.legend-item {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
    margin-top: 2rem;
}

.color-circle {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 0.5rem;
    margin-left: 8rem;
}

.black {
    background-color: #ADDECB;
}

.white {
    background-color: #ffffff;
}

.purple {
    background-color: #d6aded;
}

.dataSpace {
    padding-bottom: 5px;
    width: 100px;
}

.cajaData {
    display: flex;
    background-color: #ffffff;
    border-radius: 10%;
}

.tabla {
    /* height: 100%; */
    width: 1000px;
    padding: 15px;
    border-spacing: 1em;

}